* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav-items ul {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
  gap: 20px;
  padding: 0;
}
header {
  display: flex;
  padding: 15px 0;
  margin: 0;
  background-color: blue;
}
footer {
  margin-bottom: ;
  background-color: aqua;
}

.image {
  background: url("img/landing pic") center;
  align-items: center;
}
img {
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
}
div {
}
.contact {
}
