* {
  margin: 0;
  padding: 0;
}
.nav-items {
  display: flex;
  padding: 20px;
}
header {
  display: flex;
  padding: 15px 0;
  margin: 0;
  background-color: blue;
}
footer {
  margin-bottom: ;
  background-color: aqua;
}
section {
    background-color: wheat;
}
}
img {
    width: max-content;
}
div {
}
